.DS_STORE
*.idea
*.pvd
*.vtu*
*.pvtu*
*.pickle
*.msh
*.csv

*.pyc
*.swp
*.swo

*.aux
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.lof
*.log
*.lot
*.maf
*.mtc*
*.nlo
*.out
*.toc
*.bk
*.xml
*.bcf

results*
.old_stuff

meshes/h*

MANUFACTURED*
